<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.vinci.dhinesh.world">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/world"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/world"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainWorld">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".InfoPays" />
        <activity android:name=".Continent"></activity>
    </application>

</manifest>